<!DOCTYPE html>
<html>
<head>
<title>{{ flatpage.title }}</title>
</head>
<body>
    <h1><strong>От Большого Взрыва до Великого Молчания</strong></h1>
<hr />
<h3 style="text-align: justify;">Если кратко, то суть этой теории в следующих тезисах:<br /><br /></h3>
<ul>
<li style="text-align: justify;">Почему мы не наблюдаем космических чудес?</li>
<li style="text-align: justify;">Почему мы не наблюдаем другие цивилизации?</li>
<li style="text-align: justify;">Наука должна упереться в тупик и это произойдёт в наш век.</li>
</ul>
<p style="padding-left: 30px;">Если интересно, то начни искать информацию.<br />Можешь начать с лекций профессора МГУ Липунова В.М</p>
<p style="padding-left: 30px;"><a title="Лекция Липунова В.М." href="https://www.youtube.com/watch?v=rLreqKuu_jU&amp;t=26s&amp;ab_channel=teach-in">https://www.youtube.com/watch?v=rLreqKuu_jU&amp;t=26s&amp;ab_channel=teach-in</a></p>
<p style="padding-left: 30px;">&nbsp;</p>
</body>
</html>